@media (min-width: 800px) {
  .wheel-spin {
    animation-name: wheel-spin;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }

  @keyframes wheel-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .spin1 {
    animation-name: spin1;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }

  @keyframes spin1 {
    0% {
      transform-origin: 540% 100%;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: 540% 100%;
      transform: rotate(360deg);
    }
  }

  .spin {
    animation-name: spin;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  .spin2 {
    animation-name: spin2;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }

  @keyframes spin2 {
    0% {
      transform-origin: 500% -100%;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: 500% -100%;
      transform: rotate(360deg);
    }
  }

  .spin3 {
    animation-name: spin3;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  @keyframes spin3 {
    0% {
      transform-origin: -400% 210%;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: -400% 210%;
      transform: rotate(360deg);
    }
  }

  .spin4 {
    animation-name: spin4;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  @keyframes spin4 {
    0% {
      transform-origin: 250% 400%;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: 250% 400%;
      transform: rotate(360deg);
    }
  }

  .spin5 {
    animation-name: spin5;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  @keyframes spin5 {
    0% {
      transform-origin: -450% 10%;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: -450% 10%;
      transform: rotate(360deg);
    }
  }

  .spin6 {
    animation-name: spin6;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  @keyframes spin6 {
    0% {
      transform-origin: -160% -300%;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: -160% -300%;
      transform: rotate(360deg);
    }
  }

  .spin7 {
    animation-name: spin7;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  @keyframes spin7 {
    0% {
      transform-origin: 110% -330%;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: 110% -330%;
      transform: rotate(360deg);
    }
  }

  .spin8 {
    animation-name: spin8;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  @keyframes spin8 {
    0% {
      transform-origin: -350% -180%;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: -350% -180%;
      transform: rotate(360deg);
    }
  }

  .spin9 {
    animation-name: spin9;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  @keyframes spin9 {
    0% {
      transform-origin: -240% 360%;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: -240% 360%;
      transform: rotate(360deg);
    }
  }

  .spin10 {
    animation-name: spin10;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  @keyframes spin10 {
    0% {
      transform-origin: -5% 430%;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: -5% 430%;
      transform: rotate(360deg);
    }
  }

  .spin11 {
    animation-name: spin11;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  @keyframes spin11 {
    0% {
      transform-origin: 450% 280%;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: 450% 280%;
      transform: rotate(360deg);
    }
  }

  .spin12 {
    animation-name: spin12;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  @keyframes spin12 {
    0% {
      transform-origin: 350% -250%;
      transform: rotate(0deg);
    }
    100% {
      transform-origin: 350% -250%;
      transform: rotate(360deg);
    }
  }

  .upanddown {
    animation-name: upanddown;
    animation-duration: 15s;
  }

  @keyframes upanddown {
    0% {
      transform: translate(0, 0);
    }
    30% {
      transform: translate(0, 460%);
    }
    100% {
      transform: translate(0, 0);
    }
  }
  .skjul {
    display: none;
  }
  .forsvind {
    animation-name: forsvind;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
  }

  @keyframes forsvind {
    0% {
      opacity: 100%;
    }
    50% {
      opacity: 100%;
    }
    100% {
      opacity: 0%;
    }
  }
}

.sving {
  animation-name: sving;
  animation-duration: 10s;
}

@keyframes sving {
  0% {
    transform-origin: 50% 0%;
    transform: rotate(0deg);
  }
  20% {
    transform-origin: 50% 0%;
    transform: rotate(-85deg);
  }
  70% {
    transform-origin: 50% 0%;
    transform: rotate(85deg);
  }

  100% {
    transform-origin: 50% 0%;
    transform: rotate(0deg);
  }
}

.move1 {
  animation-name: move1;
  animation-duration: 2s;
}

@keyframes move1 {
  0% {
    opacity: 100%;
    transform: translate(0);
  }

  70% {
    opacity: 100%;
    transform-origin: 20% -50%;
    transform: translate(-150%, -300%);
  }

  100% {
    opacity: 0%;
    transform-origin: 20% -50%;
    transform: translate(-150%, -300%);
  }
}
.move2 {
  animation-name: move2;
  animation-duration: 2s;
}

@keyframes move2 {
  0% {
    opacity: 100%;
    transform-origin: -20% 50%;
    transform: translate(0);
  }

  70% {
    opacity: 100%;
    transform-origin: -20% 50%;
    transform: translate(300%, -370%);
  }

  100% {
    opacity: 0%;
    transform-origin: -20% 50%;
    transform: translate(300%, -370%);
  }
}
.move3 {
  animation-name: move3;
  animation-duration: 2s;
}

@keyframes move3 {
  0% {
    opacity: 100%;
    transform-origin: -20% 50%;
    transform: translate(0);
  }

  70% {
    opacity: 100%;
    transform-origin: -20% 50%;
    transform: translate(50%, -450%);
  }

  100% {
    opacity: 0%;
    transform-origin: -20% 50%;
    transform: translate(50%, -450%);
  }
}
